html{
    scroll-behavior: smooth;
}
.aboutMe_contenedor{
    display: block;
    width: auto;
    height: auto;
    z-index: 9;
}

.aboutMe_welcome{
    display: flex;
    flex-direction: row;
    margin:0 auto;
    width: 70%;
    justify-content: center;
    padding:150px 0px 100px 0px;
}

.aboutMe_welcome_contenedor-texto{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
        h1{
            margin: 0 auto;
            font-weight: 700;
            font-size: 4.06em;
        }
}

.software{
    background-color: #e54b4b;
}
.humans{
    color: #e54b4b;
}

.aboutMe_welcome_contenedor-img{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    img{
        height: 23em;
        width: 25em;
    }
}

.aboutMe_down-scroll-cointeiner{
    height: auto;
    margin-bottom: 240px;
            a{
                div{
                height: 50px;
                width: 30px;
                border:2px solid black;
                position:relative;
                margin:0 auto;
                cursor: pointer;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                -ms-border-radius: 50px;
                -o-border-radius: 50px;
}        
    }
}

.scroll-down::before,
.scroll-down::after{
    z-index: 1;
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid black;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -50%) rotate(45deg);
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    -o-transform: translate(-50%, -50%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
    -webkit-animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::after{
    top: 30%;
    animation-delay:.2s;
}

@keyframes scroll-down{
    0%{opacity: 0;}
    30%{opacity: 1;}
    60%{opacity: 1;}
    100%{opacity:0; top: 90%;}
}

/* ABOUT ME SECTION */
/*//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////*/

.aboutMe_informacion{
    height: auto;
    width: 100%;
    background-image: url(../Images/backgorundRobots.png);
    background-size: cover;
    padding:210px 0;
}

.aboutMe_informacion-contenedor{
    display: flex;
    justify-content: center;
    }

.aboutMe_image-contenedor{
    height: auto;
    img{
        width: 22em;
        height: 22em;
        transition:0.4s;
        border-radius: 50%;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
        -webkit-transition:0.4s;
        -moz-transition:0.4s;
        -ms-transition:0.4s;
        -o-transition:0.4s;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    img:hover{
        filter: grayscale(50%) ;
        -webkit-filter: grayscale(50%) ;
    }
}

.aboutMe_desc-contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1.25em;
    h2{
        font-weight: 600;
        font-size: 1.5em;
        color: white;
        text-align: justify;
        span{
            color: #e54b4b;
        }
    }
    button{
        width: 120px;
        height: 50px;
        color: white;
        font-weight: 600;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border: none;
        outline: none;
        background-color: #e54b4b;
        cursor: pointer;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            margin: 0;
            padding-left: 5px;
            width: 80%;
        }
        svg{
            width: 20%;
        }
    }
    button:hover{
        box-shadow: rgba(255, 0, 0, 0.781) 0px 5px 15px;
    }
  
}



@media (max-width:500px){
    body{
        overflow: scroll;
        font-size: 12px;
    }
    .aboutMe_welcome{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin:0 auto;
        align-items: center;
        padding:20px 0;
    }
    .aboutMe_welcome_contenedor-img{
        font-size: 8px;
    }
    .aboutMe_informacion-contenedor{
        display: flex;
        justify-content: center;
        flex-direction: column; 
    }   
    .aboutMe_informacion-contenedor{
        display: flex;
        width: 90%;
        align-items: center;
        margin: 0 auto;
        }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 501px){ 
    body{
        overflow: scroll;
        font-size: 16px;
    }
    .aboutMe_welcome{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin:0 auto;
        align-items: center;
        padding:20px 0;
    }
    .aboutMe_informacion-contenedor{
        display: flex;
        justify-content: center;
        flex-direction: column; 
    } 
    .aboutMe_informacion-contenedor{
        display: flex;
        width: 90%;
        align-items: center;
        margin: 0 auto;
        }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 791px) {  
    body{
        overflow: scroll;
    }
    .aboutMe_welcome{
        display: flex;
        flex-direction: row;
        width: 90%;
        margin:0 auto;
        justify-content: center;
        padding:50px 0;
    }
    .aboutMe_informacion-contenedor{
        display: flex;
        justify-content: center;
        flex-direction: row; 
    } 
    .aboutMe_informacion-contenedor{
        display: flex;
        width: 80%;
        align-items: center;
        margin: 0 auto;
        }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    body{
        overflow: scroll;
        overflow-x: hidden;
    }
    .aboutMe_welcome{
        display: flex;
        flex-direction: row;
        width: 90%;
        margin:0 auto;
        justify-content: center;
        padding:50px 0;
    }
    .aboutMe_informacion-contenedor{
        display: flex;
        width: 70%;
        align-items: center;
        margin: 0 auto;
        }
 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .aboutMe_welcome{
        display: flex;
        flex-direction: row;
        width: 80%;
        margin:0 auto;
        justify-content: center;
        padding:50px 0;
    }
    .aboutMe_informacion-contenedor{
        display: flex;
        width: 70%;
        align-items: center;
        margin: 0 auto;
        }
 }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    body{
        font-size: 20px;
    }
    .aboutMe_welcome{
        display: flex;
        flex-direction: row;
        width: 70%;
        margin:0 auto;
        justify-content: center;
        padding:50px 0;
    }
    .aboutMe_informacion-contenedor{
    display: flex;
    width: 70%;
    align-items: center;
    margin: 0 auto;
    }
  }