html{
    scroll-behavior: smooth;
}
.aboutMe_contenedor{
    display: block;
    width: auto;
    height: auto;
    z-index: 9;
}

.aboutMe_welcome{
    display: flex;
    flex-direction: row;
    margin:0 auto;
    width: 70%;
    justify-content: center;
    padding:200px 0;
}

.aboutMe_welcome_contenedor-texto{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
        h1{
            margin: 0 auto;
            font-weight: 700;
            font-size: 4.06em;
        }
}

.software{
    background-color: #e54b4b;
}
.humans{
    color: #e54b4b;
}

.aboutMe_welcome_contenedor-img{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    img{
        height: 23em;
        width: 25em;
    }
}

.aboutMe_down-scroll-cointeiner{
    height: auto;
    margin-bottom: 120px;
        a{
            div{
            height: 50px;
            width: 30px;
            border:2px solid black;
            position:relative;
            margin:0 auto;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
            cursor: pointer;
        }        
    }
}

.scroll-down::before,
.scroll-down::after{
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid black;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -50%) rotate(45deg);
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    -o-transform: translate(-50%, -50%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
    -webkit-animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::after{
    top: 30%;
    animation-delay:.2s;
}

@keyframes scroll-down{
    0%{opacity: 0;}
    30%{opacity: 1;}
    60%{opacity: 1;}
    100%{opacity:0; top: 90%;}
}

/* ABOUT ME SECTION */
/*//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////*/

.aboutMe_informacion{
    height: 100vh;
    background-color: #e54b4b;
}

@media (max-width:500px){
    body{
        overflow: scroll;
        font-size: 12px;
    }
    .aboutMe_welcome{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin:0 auto;
        align-items: center;
        padding:20px 0;
    }
    .aboutMe_welcome_contenedor-img{
        font-size: 8px;
    }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 501px) { 
    body{
        overflow: scroll;
        font-size: 16px;
    }
    .aboutMe_welcome{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin:0 auto;
        align-items: center;
        padding:20px 0;
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 791px) {  
    body{
        overflow: scroll;
    }
    .aboutMe_welcome{
        display: flex;
        flex-direction: row;
        width: 90%;
        margin:0 auto;
        justify-content: center;
        padding:150px 0;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    body{
        overflow: scroll;
    }
    .aboutMe_welcome{
        display: flex;
        flex-direction: row;
        width: 90%;
        margin:0 auto;
        justify-content: center;
        padding:150px 0;
    }
 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .aboutMe_welcome{
        display: flex;
        flex-direction: row;
        width: 80%;
        margin:0 auto;
        justify-content: center;
        padding:150px 0;
    }
 }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    body{
        font-size: 20px;
    }
    .aboutMe_welcome{
        display: flex;
        flex-direction: row;
        width: 70%;
        margin:0 auto;
        justify-content: center;
        padding:100px 0;
    }
  }